/* styles.css */
footer {
    padding: 20px;
    text-align: center;
  }
  
  footer ul {
    list-style-type: none;
    padding: 0;
  }
  
  footer ul li {
    display: inline;
    margin-right: 10px;
  }
  
  footer ul li a {
    color: #7196c0;
    text-decoration: none;
  }
  
  footer ul li a:hover {
    color: #5a5a5a;
  }
  
  .logo {
    width: 50px; /* ajustar el tamaño según sea necesario */
    height: auto;
    margin-right: 10px;
  }
  
  #v2-web {
  background: linear-gradient(135deg, #00c6ff, #0072ff);
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#v2-web:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3);
}

#v2-web:active {
  transform: scale(0.98);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}