.search-container {
  text-align: center;
  margin: 20px;
}

.search-container h3 {
  margin-bottom: 10px;
}

#searchInput {
  padding: 10px;
  width: 80%;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

@media (max-width: 767px) {
  .search-container input {
    width: 90%;
  }

  p {
    color: #008b8b;
  }
}