#v2-web {
    background: linear-gradient(135deg, #011c3f, #0071af);
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition:
        transform 0.2s,
        box-shadow 0.2s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#v2-web:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3);
}

#v2-web:active {
    transform: scale(0.98);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

#pwa-inst {
    background: linear-gradient(135deg, #011c3f, #0071af);
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition:
        transform 0.2s,
        box-shadow 0.2s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#pwa-inst:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3);
}

#pwa-inst:active {
    transform: scale(0.98);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

/*
#selectPais {
        position: fixed;
        bottom: 63px;
        right: 10px;
        z-index: 9999;
        padding: 0.4rem 0.8rem;
        border-radius: 6px;
        border: 1px solid #ccc;
        font-size: 1rem;
        background: white;
        color: black;
      }*/
      
#selectPais {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  position: fixed;
  bottom: 3px;
  right: 10px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-color: #1e293b; /* mismo tono del footer (oscuro) */
  color: #f8fafc; /* texto claro */
  border: 1px solid #334155; /* sutil, casi invisible */
  
  padding: 8px 36px 8px 12px;
  border-radius: 6px;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;

  background-image: url('data:image/svg+xml;charset=UTF-8,<svg fill="%23f8fafc" height="20" viewBox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 14px;
  transition: all 0.2s ease-in-out;
  max-width: 160px;
}

/* Enfocado */
#selectPais:focus {
  border-color: #3b82f6;
  outline: none;
  box-shadow: none;
}